extends layout.pug

block mainContent
    form(action='/products/form/add' method='POST' class='product-form')
        h1 Add a New Product
        div.form-group
            label(for='name') Product Name:
            input(type='text' id='name' name='name' required class='form-control')
        div.form-group
            label(for='categoryForm') Category:
            input(type='text' id='categoryForm' name='category' required class='form-control')
        div.form-group
            label(for='price') Price:
            input(type='number' id='price' name='price' required step='0.01' class='form-control')
        div.form-group
            label(for='description') Description:
            textarea(id='description' name='description' required class='form-control')
        div.form-group
            label(for='features') Features (comma-separated):
            input(type='text' id='features' name='features' required class='form-control')
        div.form-group
            label(for='image') Image URL:
            input(type='url' id='image' name='image' required class='form-control')
        div.form-group
            button(type='submit' class='btn btn-primary') Add Product