header
    nav
        ul
            li
                a(href="/home") Home
            li
                a(href="/products/all") All Products
            li 
                a(href="/products/electronics") Electronics
            li 
                a(href="/products/furniture") Furniture
            li
                a(href="/products/clothing") Clothing